{% extends "base.html" %}

{% block content %}
  {% if messages %}
  <div class="d-flex flex-column col col-lg-6">
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
      {% endfor %}
  </div>
  {% endif %}
  <form action="{% url "feedback:feedback" %}" method="POST" class="d-flex flex-column col col-lg-6" enctype="multipart/form-data">
    {% with form=author_form %}
      {% csrf_token %}
      {% include "includes/form.html" %}
    {% endwith %}
    {% with form=feedback_form %}
      {% csrf_token %}
      {% include "includes/form.html" %}
    {% endwith %}
    {% with form=files_form %}
      {% csrf_token %}
      {% include "includes/form.html" %}
    {% endwith %}
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
{% endblock %}